.git
.dart_tool
.idea
.vscode
**/*.iml
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
android/
ios/
linux/
macos/
windows/
backend/vendor
backend/node_modules
backend/storage/logs
backend/.env
*.md
!README.md
